@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --current-mode-color: hsl(120, 100%, 90%);
  --fira-code: "Fira Code", monospace;
}

body:has(#mode-manual:checked) {
  --current-mode-color: hsl(120, 100%, 90%);
}

body:has(#mode-random:checked) {
  --current-mode-color: hsl(240, 100%, 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: grid;
  grid-template-rows: min-content 1fr;

  height: 100dvh;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  padding: 10px 0;
}

main,
section {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-bottom: 1rem;
  max-width: 100dvw;
}

input,
select,
button {
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: large;
  background-color: #fff;
}

select {
  width: 100%;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 0.25rem;
}

.flex.col {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.justify-bottom {
  justify-content: flex-end;
}

.vr {
  width: 1px;
  background-color: #333;
}

.relative {
  position: relative;
}

.disabler-container {
  background-color: rgba(80, 80, 80, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.hidden {
  display: none;
}

.error {
  background-color: hsl(0, 100%, 90%);
}


.manual-mode {
  background-color: hsl(120, 100%, 90%);
}

.random-mode {
  background-color: hsl(240, 100%, 90%);
}

.current-mode {
  background-color: var(--current-mode-color);
}

.auto-play-mode {
  background-color: hsl(44, 100%, 90%);
}

.step-by-step-mode {
  background-color: hsl(270, 100%, 90%);
}

.tree-container {
  background-color: #efefef;

  position: relative;

  margin: 0 1rem;

  width: calc(100% - 2rem);
  height: 80dvh;
}

.zoom-actions {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.zoom-actions button {
  width: 30px;
  height: 30px;

  font-weight: bold;
}

.zoom-actions button:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.zoom-actions button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.zoom-actions button:not(:last-child):not(:first-child) {
  border-radius: 0;
  border-bottom: none;
}

.tree {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  width: fit-content;
  height: 100%;
}

.tree div {
  text-align: center;
}

.tree-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  pointer-events: none;
}

.tree .tree-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;

  border: none;

  /* width: 100%; */
}


.tree .tree-node {
  display: flex;
  flex-direction: row;

  width: fit-content;
}

.tree .tree-node.highlight {
  background-color: rgba(21, 255, 0, 0.2);
}

.tree .tree-kp {
  border: 1px solid black;
  display: flex;
  flex-direction: row;

  width: fit-content;
}

.tree .tree-kp:not(:last-child) {
  border-right: none;
}

.tree .tree-key {
  width: fit-content;
  padding: 5px;
}

.tree .tree-pointer {
  border: 1px solid black;
  border-right: none;
  width: 15px;
}

.tree .tree-kp .tree-pointer {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

#controls {
  display: flex;
  padding: 1rem;

  gap: 1rem;
  align-content: stretch;
}

#controls input.manual-mode {
  width: 100%;
}

#controls input[type="number"]:not(.manual-mode) {
  width: 100px;
}

#controls button {
  min-width: 100px;
}

#controls button.icon,
.history-entry button.icon {
  min-width: 50px;
  font-family: var(--fira-code);
}

#controls .radio-container {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid black;
  height: 31.3333px;
  align-items: center;
}

#controls .radio-container label {
  width: fit-content;
}

#history-container {
  width: 300px;
  height: 80dvh;

  background-color: #efefef;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-size: small;

  overflow-y: auto;
}

#history-container .history-entry {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#history-container .history-entry.disabled {
  opacity: 0.5;
}

#history-container .history-entry button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

#count-container {
  padding: 0.25rem;
  background-color: #dfdfdf;
}